In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [9]:
df = pd.read_csv("D:\#DATA Science\Diabetes Prediction Project\diabetes_prediction.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [11]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [12]:
df.shape

(100000, 9)

In [13]:
df["diabetes"].value_counts()

0    91500
1     8500
Name: diabetes, dtype: int64

In [14]:
df["diabetes_type"] = ""


for index, row in df.iterrows():
    age = row["age"]
    hypertension = row["hypertension"]
    heart_disease = row["heart_disease"]
    bmi = row["bmi"]
    hba1c_level = row["HbA1c_level"]
    blood_glucose_level = row["blood_glucose_level"]
    diabetes = row["diabetes"]

    
    if age < 20:
        df.loc[index, "diabetes_type"] = "Type1"
    
    elif age >= 20 and hypertension == 1 and heart_disease == 1 and bmi >= 30:
        df.loc[index, "diabetes_type"] = "Type2"
    
    elif diabetes == 1 and 20 <= age <= 45:
        df.loc[index, "diabetes_type"] = "Gestational_Diabetes"
    
    elif 5.7 <= hba1c_level <= 6.4 and 100 <= blood_glucose_level <= 125:
        df.loc[index, "diabetes_type"] = "Prediabetes"

    elif diabetes == 0 :
        df.loc[index, "diabetes_type"] = "No_Diabetes"

    else:
        df.loc[index, "diabetes_type"] = "Monogenic_Diabetes"

df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,diabetes_type
0,Female,80.0,0,1,never,25.19,6.6,140,0,No_Diabetes
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,No_Diabetes
2,Male,28.0,0,0,never,27.32,5.7,158,0,No_Diabetes
3,Female,36.0,0,0,current,23.45,5.0,155,0,No_Diabetes
4,Male,76.0,1,1,current,20.14,4.8,155,0,No_Diabetes
...,...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0,No_Diabetes
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,Type1
99997,Male,66.0,0,0,former,27.83,5.7,155,0,No_Diabetes
99998,Female,24.0,0,0,never,35.42,4.0,100,0,No_Diabetes
99999,Female,57.0,0,0,current,22.43,6.6,90,0,No_Diabetes

In [15]:
df.to_csv("new_diabtestypes.csv")

In [16]:
df["diabetes"].value_counts()

0    91500
1     8500
Name: diabetes, dtype: int64

In [17]:
df["diabetes_type"].value_counts()

No_Diabetes             69427
Type1                   19668
Monogenic_Diabetes       7120
Prediabetes              2318
Gestational_Diabetes     1104
Type2                     363
Name: diabetes_type, dtype: int64

In [18]:
df["diabetes_type"].value_counts()

No_Diabetes             69427
Type1                   19668
Monogenic_Diabetes       7120
Prediabetes              2318
Gestational_Diabetes     1104
Type2                     363
Name: diabetes_type, dtype: int64

In [19]:
df["smoking_history"].value_counts()

No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: smoking_history, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()
df["gender"] = LabelEncoder.fit_transform(df["gender"])
df["gender"]

0        0
1        0
2        1
3        0
4        1
        ..
99995    0
99996    0
99997    1
99998    0
99999    0
Name: gender, Length: 100000, dtype: int32

In [21]:
df["smoking_history"] = LabelEncoder.fit_transform(df["smoking_history"])

In [22]:
df["smoking_history"].value_counts()

0    35816
4    35095
3     9352
1     9286
5     6447
2     4004
Name: smoking_history, dtype: int64

In [23]:
df["diabetes_type"] = LabelEncoder.fit_transform(df["diabetes_type"])

In [24]:
df["smoking_history"].value_counts()

0    35816
4    35095
3     9352
1     9286
5     6447
2     4004
Name: smoking_history, dtype: int64

In [25]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,diabetes_type
0,0,80.0,0,1,4,25.19,6.6,140,0,2
1,0,54.0,0,0,0,27.32,6.6,80,0,2
2,1,28.0,0,0,4,27.32,5.7,158,0,2
3,0,36.0,0,0,1,23.45,5.0,155,0,2
4,1,76.0,1,1,1,20.14,4.8,155,0,2
...,...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,90,0,2
99996,0,2.0,0,0,0,17.37,6.5,100,0,4
99997,1,66.0,0,0,3,27.83,5.7,155,0,2
99998,0,24.0,0,0,4,35.42,4.0,100,0,2
99999,0,57.0,0,0,1,22.43,6.6,90,0,2

In [26]:
df["hypertension"].value_counts()

0    92515
1     7485
Name: hypertension, dtype: int64

In [27]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X = df.drop(["diabetes_type","diabetes"], axis=1)
y = df["diabetes_type"]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
svm_classifier = SVC()
svm_classifier.fit(X_train, y_train)
y_pred = svm_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9207

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score
DecisionTreeClassifier = DecisionTreeClassifier()
DecisionTreeClassifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [30]:
y_pred_tree = DecisionTreeClassifier.predict(X_test)
accuracy_decison_tree = r2_score(y_test, y_pred_tree)
print("The decision tree accuarcy score is :", accuracy_decison_tree)

The decision tree accuarcy score is : 0.9158270641101542

In [32]:
import joblib
# Save the model to a file using joblib
joblib.dump(DecisionTreeClassifier, 'DecisionTreeClassifier.pkl')

['DecisionTreeClassifier.pkl']